<div>
  <h1>{{business}} {{job}}</h1>
  <div>
    <a href=`tel+{{phone}}`>{{phone}}</a>
  </div>
  <div id="bar"></div>
</div>
<nav class="row">
  <ul class="list-inline">
    <li><button class="btn btn-primary">Home</button></li>
    <li><button class="btn btn-primary">Contact</button></li>
    <li><button class="btn btn-primary">About Us</button></li>
  </ul>
  <div id="bar2"></div>
</nav>
<div>
  <h2>{{description}}</h2>
  <img src="assets/grass2.jpg">
  <div class="ad">
    <h1>{{advert.title}}</h1>
    <h2>{{advert.desc}}</h2>
  </div>
  <h2>{{footer}}</h2>
</div>
